@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// COMPONENTS COMPONENT
// ========================================

.components {
  @include case-study-section;

  ::ng-deep.section-header-title {
    @include case-study-subsection-header-title;
  }

  ::ng-deep.section-header {
    @include mobile {
      margin-bottom: 2.4rem;
    }
  }
}

.components-image {
  width: 100%;

  @include mobile {
    margin-bottom: 0;
  }
}

.header-subtitle {
  max-width: 50%;
  gap: $spacing-small;

  @include tablet {
    max-width: 60%;
  }

  @include case-study-subsection-header-subtitle;
}

.button-subtitle {
  @include tablet {
    max-width: 80%;
  }

  @include mobile {
    max-width: unset;
  }
}

.subsection-container {
  @include case-study-subsection-container;
}

.subsection-image {
  @include case-study-subsection-image;
}

.button-container {
  ::ng-deep.section-header {
    .row {
      :first-child {
        align-self: start;
      }
    }
  }
}

// ========================================
// RESPONSIVE DESIGN
// ========================================

@include tablet {
}

@include mobile {
  .components {
    margin-top: 4rem;
  }
}
