@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// COMPONENTS COMPONENT
// ========================================

.components {
  margin-top: 12.8rem;
  padding-bottom: 12.8rem;
  border-bottom: $border-width solid $main-color;

  ::ng-deep.section-header-title {
    @include design-system-subsection-header-title;
  }

  ::ng-deep.section-header {
    @include mobile {
      margin-bottom: 2.4rem;
    }
  }

  @include tablet {
    margin-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}

.components-image {
  width: 100%;

  @include mobile {
    margin-bottom: 0;
  }
}

.header-subtitle {
  max-width: 50%;
  gap: $spacing-small;

  @include tablet {
    max-width: 60%;
  }

  @include design-system-subsection-header-subtitle;
}

.button-subtitle {
  @include tablet {
    max-width: 80%;
  }

  @include mobile {
    max-width: unset;
  }
}

.content-item {
  margin-top: $spacing-base;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @include mobile {
    margin-top: $spacing-small;
    gap: 1.2rem;
  }
}

.content-item-header {
  @include design-system-content-item-header;
}

.subsection-container {
  margin-top: 6.4rem;

  @include mobile {
    margin-top: 4rem;
  }
}

.subsection-image {
  width: 100%;
  margin-top: $spacing-base;

  @include mobile {
    margin-top: 0;
  }
}

.button-container {
  ::ng-deep.section-header {
    .row {
      :first-child {
        align-self: start;
      }
    }
  }
}

.content-item-header-container {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    gap: $spacing-xs;
  }
}

.content-item-title {
  max-width: 40%;
  @include typography-base($font-weight-regular, 1.6rem, 2.4rem);

  @include tablet {
    @include typography-base($font-weight-medium, 1.4rem);
  }

  @include mobile {
    max-width: unset;
    @include typography-base($font-weight-regular, 1rem, 1.4rem);
  }
}

// ========================================
// RESPONSIVE DESIGN
// ========================================

@include tablet {
}

@include mobile {
  .components {
    margin-top: 4rem;
  }
}
