@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// PROJECT MANAGEMENT DESIGN SYSTEM COMPONENT
// ========================================

.project-management-design-system {
}

.project-title {
  @include typography-base($font-weight-medium, 12.8rem);
  margin-bottom: 6.4rem;

  @include tablet {
    @include typography-base($font-weight-medium, 9.6rem);
    margin-bottom: $spacing-base;
  }

  @include mobile {
    @include typography-base($font-weight-medium, 4.8rem);
    margin-bottom: $spacing-base;
  }
}

.overview-image {
  width: 100%;

  @include tablet {
    margin-top: $spacing-base;
  }
}

.project-subtitile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.4rem;

  @include tablet {
    flex-direction: column;
    @include typography-base($font-weight-regular, 1.6rem, 2.6rem);
    gap: $spacing-base;
  }
}

.project-overview {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  max-width: 50%;

  @include tablet {
    max-width: 90%;
  }
}

.project-subtitile-items {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  gap: 2.4rem;
  font-size: 1.6rem;
}

.project-subtitle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.4rem;
  border-bottom: $border-width solid $main-color;

  @include mobile {
    :last-child {
      max-width: 16.3rem;
    }
  }
}

// ========================================
// RESPONSIVE DESIGN
// ========================================

@include tablet {
  .project-management-design-system {
    .container-fluid {
      padding: 0 2.4rem; // 24px padding for tablet
    }
  }
}

@include mobile {
  .project-management-design-system {
    .container-fluid {
      padding: 0 1.2rem; // 12px padding for mobile
    }
  }
}
