<section class="skills">
  <h3 class="skills-section-title">{{ skillsSectionTitle }}</h3>
  <p class="skills-description">{{ skillsDescription }}</p>
  
  <div class="skills-container">
    @for (category of skillsCategories; track category.type) {
      <div class="skills-column">
        <h4 class="skills-category-title">{{ category.title }}</h4>
        <ul class="skills-list">
          @for (skill of skillsData[category.type]; track skill) {
            <li class="skill-item">{{ skill }}</li>
          }
        </ul>
      </div>
    }
  </div>
</section>
