<div class="section-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="section-header-title-section">
        <h2 class="section-header-title">{{ title }}</h2>
        <div class="section-header-label">{{ label }}</div>
      </div>
      @if (subtitle) {
        <div class="section-header-subtitle-container">
          <span class="section-subtitle-header">{{ subtitleHeader }}</span>
          <span class="section-header-subtitle">{{ subtitle }}</span>
        </div>
      }
    </div>
    <div class="col-auto">
      <div class="section-header-group" (click)="textButtonClick.emit()">
        <button class="section-header-text-button" type="button">
          <span class="button-text">{{ textButton }}</span>
        </button>
        <button class="section-header-arrow-button" type="button">
          <img src="images/arrow.svg" alt="" class="arrow-icon">
        </button>
      </div>
    </div>
  </div>
</div>
