<div class="section-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="section-header-title-section">
        <h2 class="section-header-title">{{ config.title }}</h2>
        <div class="section-header-label">{{ config.label }}</div>
      </div>
      <ng-content select="[slot=subtitle]"></ng-content>
    </div>
    @if (config.textButton) {
      <div class="col-auto">
        <div class="section-header-group" (click)="textButtonClick.emit()">
          <button class="section-header-text-button" type="button">
            <span class="button-text">{{ config.textButton }}</span>
          </button>
          <button class="section-header-arrow-button" type="button">
            <img src="images/arrow.svg" alt="" class="arrow-icon">
          </button>
        </div>
      </div>
    }
  </div>
</div>
