<div class="section-header">
  <div class="row align-items-center">
    <div class="col">
      <div class="section-header-title-section">
        <h2 class="section-header-title">{{ config.title }}</h2>
        <div class="section-header-label">{{ config.label }}</div>
      </div>
      <ng-content select="[slot=subtitle]"></ng-content>
    </div>
    <ng-content select="[slot=right-section]"></ng-content>
    @if (config.textButton) {
      <div class="col-auto">
        <app-text-arrow-button
          [buttonText]="config.textButton"
          (buttonClick)="textButtonClick.emit()">
        </app-text-arrow-button>
      </div>
    }
  </div>
</div>
