@use 'variables' as *;
@use 'mixins' as *;

.outcomes {
 margin: 12.8rem 0;

  ::ng-deep.section-header-title {
    @include typography-base($font-weight-medium, 9.6rem);

    @include tablet {
      @include typography-base($font-weight-medium, 6.4rem);
    }
  }

  @include tablet {
    margin-top: 6.4rem;
  }
}

.outcomes-title {
  width: 100%;
  background-color: $main-color;
  color: $text-color-secondary;
  margin-top: $spacing-base;
  padding: 6.4rem 3.65rem;
  @include flex-center;
  flex-direction: column;
  gap: $spacing-small;
  border-radius: 3.2rem;

  &__main {
    @include typography-base($font-weight-regular, 3.2rem, 4.8rem);
    text-align: center;
  }

  &__subtitle {
    @include typography-base($font-weight-regular, 1.8rem);
    text-align: center;
  }
}

.outcomes-content {
  margin-top: $spacing-base;
  max-width: 60%;

  @include tablet {
    max-width: 100%;
  }

  .outcomes-intro {
    @include typography-base($font-weight-medium, 1.8rem, 3rem);
    margin-bottom: $spacing-base;
    color: $main-color;
  }

  .outcomes-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;
    margin-top: $spacing-base;

    .outcome-item {
      @include typography-base($font-weight-regular, 1.8rem, 3rem);
      color: $main-color;

      strong {
        font-weight: $font-weight-medium;
        color: $main-color;
      }
    }
  }
}
