@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// IDEATION COMPONENT
// ========================================

.ideation {
  @include case-study-section;

  ::ng-deep.section-header-title-section {
    margin-bottom: 3.2rem;

    .section-header-title {
      @include case-study-section-title;
    }
  }
}

.header-subtitle.intro-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  @include typography-base($font-weight-regular, 1.8rem, 3rem);

  @include tablet {
    @include typography-base($font-weight-regular, 1.6rem, 2.6rem);
    gap: $spacing-xs;
  }

  @include mobile {
    @include typography-base($font-weight-regular, 1.4rem, 2.4rem);
    gap: $spacing-xs;
  }
}

.subsection-container {
  @include case-study-subsection-container;

  ::ng-deep .section-header {
    @include mobile {
      margin-bottom: 2.4rem;
    }

    .section-header-title-section {
      min-height: auto;
    }

    .section-header-title {
      @include case-study-subsection-header-title;
    }
  }
}

.header-subtitle {
  max-width: 60%;
  @include case-study-subsection-header-subtitle;
}

.subsection-image {
  @include case-study-subsection-image;
}

// Made with Bob
