@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// STYLES TOKENS COMPONENT
// ========================================

.styles-tokens {
  margin-top: 12.8rem;
  padding-bottom: 12.8rem;
  border-bottom: $border-width solid $main-color;

  .styles-tokens-image {
    margin-bottom: 6.4rem;

    @include mobile {
      margin-bottom: 4rem;
    }
  }

  ::ng-deep.section-header-title {
    @include design-system-subsection-header-title;
  }

  ::ng-deep.section-header {
    @include mobile {
      margin-bottom: 2.4rem;
    }
  }

  .styles-tokens-content {
    margin-top: 11.5rem;
  }

  .header-subtitle {
    max-width: 75%;

    @include tablet {
      max-width: 90%;
    }

    @include design-system-subsection-header-subtitle;
  }

  .content-item {
    margin-top: $spacing-base;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include mobile {
      margin-top: 2.4rem;
      gap: 1.2rem;
    }
  }

  .content-item-header {
    @include design-system-content-item-header;
  }

  .header-right-section {
    align-self: end;

    @include mobile {
      padding: 0;
    }
  }

  .accessibility-image,
  .typography-container,
  .spacing-system-container,
  .shadows-container,
  .icons-container {
    margin-top: 6.4rem;

    @include mobile {
      margin-top: 4rem;
    }
  }

  .styles-tokens-image,
  .accessibility-image {
    width: 100%;
  }

  .accessibility-image {
    @include mobile {
      margin-top: 4rem;
    }
  }

  .icons-subtitle {
    @include tablet {
      max-width: 60%;
    }

    @include mobile {
      max-width: unset;
    }
  }

  .spacing-system-image,
  .shadows-image,
  .icons-image {
    width: 100%;
    margin-top: $spacing-base;

    @include mobile {
      margin-top: 0;
    }
  }

  // ========================================
  // RESPONSIVE DESIGN
  // ========================================

  @include tablet {
    margin-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  @include mobile {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
}
