@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// STYLES TOKENS COMPONENT
// ========================================

.styles-tokens {
  margin-top: 12.8rem;
  padding-bottom: 12.8rem;
  border-bottom: $border-width solid $main-color;

  .styles-tokens-image {
    margin-bottom: 6.4rem;
  }

  ::ng-deep.section-header-title {
    @include typography-base($font-weight-medium, 6.4rem);

    @include tablet {
      @include typography-base($font-weight-medium, 4rem);
    }
  }

  .styles-tokens-content {
    margin-top: 11.5rem;
  }

  .header-subtitle {
    max-width: 75%;

    @include tablet {
      max-width: 90%;
    }
  }

  .content-item {
    margin-top: $spacing-base;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .content-item-header {
    @include typography-base($font-weight-medium, 2.4rem);

    @include tablet {
      @include typography-base($font-weight-medium, 1.8rem);
    }
  }

  .header-right-section {
    align-self: end;
  }

  .accessibility-image,
  .typography-container,
  .spacing-system-container,
  .shadows-container,
  .icons-container {
    margin-top: 6.4rem;
  }

  .styles-tokens-image,
  .accessibility-image {
    width: 100%;
  }

  .typography-subtitle,
  .spacing-system-subtitle,
  .shadows-subtitle,
  .icons-subtitle {
    @include typography-base($font-weight-regular, 1.8rem, 3rem);
  }

  .icons-subtitle {
    @include tablet {
      max-width: 60%;
    }
  }

  .spacing-system-image,
  .shadows-image,
  .icons-image {
    width: 100%;
    margin-top: $spacing-base;
  }

  // ========================================
  // RESPONSIVE DESIGN
  // ========================================

  @include tablet {
      margin-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  @include mobile {
    .styles-tokens {
      // Add mobile styles here
    }
  }
}
